# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data
*.sqlite
*.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff:
instance/
.webassets-cache

# RSA private key
*.private.pem